@model HEP.Models.CartModel

<div class="navbar-right">
    @Html.ActionLink("Открыть", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-detail navbar-btn" })
</div>

<div class="navbar-text">
    @if (@Model.Lines.Count() == 0)
    {
        <b>Корзина пуста</b>
    }
    else
    {
        <b>В корзине:</b>
        @Model.Lines.Sum(i => i.Quantity) @:товаров,
        @Model.ComputeTotalValue().ToString("c")
    }
</div>