
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    $("document").ready(function () {
        $('.btnShowParts').hide();
    });

    var selectedModelId;

    $("#ddlModels").change(function () {
            $('.btnShowParts').show();
            selectedModelId = $(this).val();
            });
        
    $('.btnShowParts').click(function () {
        window.location.href = "Home/SearchByNumber" + "?search=&modelId=" + selectedModelId;
    });
</script>

<div id="chooseModel">
    <div class="lead">Модель</div>
    @Html.DropDownList("models", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "ModelName"),
       "-- выберите Модель --",
        new
        {
            id = "ddlModels",
        })
    
        <input type="button" value="Показать запчасти" class="btnShowParts" />
    
</div>
