@{
    ViewBag.Title = "О компании";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>

@Scripts.Render("~/bundles/jquery")
<script>
    $(function () {
        $("#accordion").accordion({ header: "h4", collapsible: true });
    });
</script>


<div class="row-fluid" id="accordion">
    <div class="span12">
        <h4><span class="subhead">Общая информация</span></h4>
        <p>
            Компания "Комкат" является дистрибьютором запчастей к импортной дорожно-строительной технике Komatsu, Caterpillar c 2006 года.
            За это время мы приобрели статус надежного партнера и ответственного поставщика.
            Профессионализм и доброжелательность наших сотрудников располагает к длительным и доверительным отношениям.
        </p>

        <h4><span class="subhead">Наши преимущества и сильные стороны</span></h4>
        <p>
            Оптимально выстроенная схема международных поставок позволила нашим клиентам существенно сократить расходы
            на покупку запчастей. Тесное сотрудничество с транспортно-логистическими компаниями
            даёт нам возможность доставлять груз в любую точку России и СНГ в кратчайшие сроки.
        </p>

        <h4><span class="subhead">Ассортимент</span></h4>
        <p>
            В ассортимент поставляемой продукции входят двигатели, запчасти для двигательных установок,
            гусеницы и другие запчасти для ходовой части, коронки, трансмиссия, стойки рыхлителя, зубья, ножи, фильтры и другие комплектующие.
            С полным ассортиментом предлагаемой нами продукции Вы можете ознакомиться на страницах каталога.
        </p>

        <h4><span class="subhead">Заявка</span></h4>
        <p>
            Если вы не нашли нужную вам запчасть в нашем каталоге или не указана цена, пришлите нам заявку:<a href="mailto:sales@komkat.ru">sales@komkat.ru</a>
        </p>
    </div>
</div>