
<hgroup>
    <h2>Контакты</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        г. Москва<br />
        ул. Иркутская, д.11<br />
        <abbr title="Phone">P:</abbr>
        +7 (499) 391-43-75
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Отдел продаж:</strong>   <a href="mailto:sales@komkat.ru">sales@komkat.ru</a><br />
        <i class="icon-envelope"></i><strong>Для вопросов и пожеланий:</strong> <a href="mailto:marketing@komkat.ru">marketing@komkat.ru</a>
    </address>
</div>